#columns {
    max-width: 1850px;
    width: 100%;
}

iframe {
    height: 716px;
}

.gray-color {
    color: #AAAAAA;
}

#channel-info {
    max-width: 210px;
}


.details-color, .details-color span{
        color: #AAAAAA;
        cursor: pointer;
}

.placeholder-input {
    background: transparent;
    border-bottom: 1px solid #4b5563;
    outline: none;
    transition: border-bottom-color 1s;
    padding-bottom: 3px;
}

.placeholder-input:focus {
    border-bottom: 2px solid #e5e7eb;
}

#content .hide-guide #guide {
    display: none;
}