#contents-row, #chips-wrapper {
    max-width: 1725px;
}

#video {
    flex: 1 0 calc(20%);
    max-width: 320px;
}


.video-color-channel {
    color: #AAAAAA;
    cursor: pointer;
}

.video-color-channel:hover {
    color: #F1F1F1;
}

.video-color-views {
    color: #AAAAAA;
    cursor: pointer;
}
