#contents-row, #chips-wrapper {
    max-width: 2150px;
}

@media only screen and (max-width: 1074px) {
    #video {
        width: calc(50% - 13px)
    }
}

@media only screen and (min-width: 1075px) {
    #video {
        width: calc(33% - 13px)
    }
}

@media only screen and (min-width: 1580px) {
    #video {
        width: calc(25% - 13px)
    }
}

@media only screen and (min-width: 1900px)  {
    #video {
        width: calc(20% - 13px);
    }
}

@media only screen and (min-width: 2225px)  {
    #video {
        width: calc(16.5% - 10px);
    }
}



/*.video-color-channel {*/
/*    color: #AAAAAA;*/
/*    cursor: pointer;*/
/*}*/

/*.video-color-channel:hover {*/
/*    color: #F1F1F1;*/
/*}*/

/*.video-color-views {*/
/*    color: #AAAAAA;*/
/*    cursor: pointer;*/
/*}*/
