#description.expanded {
    height: 100px;
    overflow: hidden;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.collapse-expand {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.50) 0 -30px 36px -30px inset;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.action-button {
    position: relative;
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF1A;
    cursor: pointer;
    padding: 6px 10px;
}

.action-button:hover, .chip:hover, .infocards-buttons:hover {
    background-color: rgba(255, 255, 255, 0.20);
}

.border-right {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.border-left {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

/*.line::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    right: 0;*/
/*    box-shadow: 0 0 0 .3px white;*/
/*    height: 28px;*/
/*}*/

.chip:hover, .infocards-buttons:hover {
    background-color: rgba(255, 255, 255, 0.20);
}

.chip {
    white-space: nowrap;
    background-color: #FFFFFF1A;
    cursor: pointer;
    margin-right: 8px;;
    padding: 6px 12px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip.active, .chip.active:hover {
    background-color: white;
}

.chip.active span {
    color: black;
}

